body{
    background-color: rgb(67, 177, 241);
    font: normal 15pt Arial;
}

header{
    color: cornsilk;
    text-align: center;
}

section{
    background-color: cornsilk;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.432);
}

div{
    text-align: center;
    padding: 8px;
}
footer{
    color: cornsilk;
    text-align: center;
    font-style: italic;
}